:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
  height: 4000px;
}
/* start nav bar */
.navbar {
  background-color: var(--dark-color);
}
.nav-link {
  color: white ;
  font-weight: 500;
  font-size: 16px;
}
.navbar .nav-link:hover {
  color: var(--green-color) !important;
  text-decoration: none !important;
  outline: none;
}
.navbar a:hover {
  color: var(--green-color);
}
.navbar a:active {
  color: var(--green-color);
  font-weight: bold;
}


.navbar .nav-link {   
  padding: 10px 15px;
}
.navbar .nav-link.active {
  color: var(--green-color);
  font-weight: bold;
}
.navbar .nav-link:focus,
.navbar .nav-link:active {
  color: var(--green-color) !important;
  outline: none;
  box-shadow: none;
}

.mainbtn {
  background-color: var(--red-color);
  color: white !important;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 20px;
 
}
.mainbtn:hover {
  background-color: var(--red-color);
  color: var(--yellow-color) !important;
  transform: scale(1.05);
}
/* end navbar */

/* start section */
.landing-page{
  background-color: var(--dark-color);
  min-height: calc(100vh - 56px);
}

/* start session Features */
.mainTitle::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 2px;
  background-color: var(--green-color);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}


      /* start items feature */
      .row .iconesHolder {
        height: 200px;
      }

      .features .iconesHolder i {
        left: 50%;
        transform: translateX(-50%);
      }
      .features .iconesHolder .number {
        font-size: 12rem;
        color: var(--section-color);
        font-weight: 700;
      }
      .features .iconesHolder .icon {
        color: var(--green-color);
        font-weight: 700;
        bottom: -20px;
      }
      .features .title-features{
        color: var(--yellow-color);
        font-weight: 400;
        font-size: 2rem;
      }
      /* end items feature */

    
/* end session Features */
/* start session ourWork */
.ourWork {
  background-color: var(--section-color);
  padding: 50px 0;
}

/* start navbar2 */
.navbar2 {
  background-color: var(--section-color);
  padding: 20px 0;
  margin: 0 auto;
  margin-bottom: 20px;
}
.navbar2 .nav-link {
  color: var(--dark-color) !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 10px 15px !important;
}
.navbar2 .nav-link:hover {
  color: var(--red-color) !important;
  text-decoration: none !important;
  outline: none !important;
}
.navbar2 .nav-link.active {
  color: var(--yellow-color) !important;
  font-weight: bold !important;
  text-decoration: none !important;
  outline: none !important;
  background-color: var(--red-color);
}


/* end session ourWork */
